.navBar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: left;
    text-align: left;
    justify-content: space-evenly;
    margin: -12px 20px 0px 20px;
    padding: 15px;
    background: rgba(84, 85, 85, 0.658); 
    border-radius: 10px;
    backdrop-filter: blur(1px);
  }
  .navBar h1 {
    font-size: 32px;
    color: hsla(180, 3%, 94%, 0.8);
    opacity: 5.9;
    align-items: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 0px 0px 26px 5px rgba(4, 67, 103, 0.7);
    margin: 0%;
    text-shadow: rgb(68, 68, 68, 0.5) 1px 1px 0px,
      3px 2px 8px rgba(46, 44, 44, 0.67);
  
}
  .menuNavBar {
    color: hsla(180, 3%, 94%, 0.8);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
    text-shadow: 0px 0px 26px 5px rgba(4, 67, 103, 0.7);
    text-shadow: rgb(68, 68, 68, 0.5) 1px 1px 0px,
      3px 2px 8px rgba(46, 44, 44, 0.67);
    cursor: pointer;
  }
  
  .menuNavBar.active {
    background: rgba(146, 147, 147, 0.899);
    padding: 0px;
    padding-top: 0px;
    margin:0px;
    border-radius: 5px;
  }